Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2022-09, with the labels that each got.

#113 Feature/session timeout issue add new favicon
  cccm-frontend/public/favicon.ico
  cccm-frontend/src/main.ts
Labels: frontend, vue

#115 Image trigger
  .github/workflows/backend-build-push.yml
  .github/workflows/frontend-build-push.yml
Labels: Extreme DevOps

#117 Adding Address Search to Service
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#120 Image promoting
  .github/workflows/backend-promote-image-to-env.yml
  .github/workflows/frontend-promote-image-to-env.yml
Labels: Extreme DevOps

#121 Feature/cbcccm 26 autosave saracmp
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/sara-cmp/formSections/saraCmpFormDataEntry.vue
  cccm-frontend/src/components/sara-cmp/formSections/saraCmpFormRightPanel.vue
  cccm-frontend/src/components/sara-cmp/saraCmpForm.vue
Labels: frontend, vue, formio

#124 Remove Query String From Log
  cccm-backend/cccm-api/src/main/resources/application.properties
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#128 Golddrpush
  .github/workflows/backend-build-push.yml
  .github/workflows/backend-promote-image-to-env.yml
  .github/workflows/frontend-build-push.yml
  .github/workflows/frontend-promote-image-to-env.yml
Labels: Extreme DevOps

#131 Make api's request scoped
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/user/UserApiImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#132 Update API Fields
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/ClientAddressSearch.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/ClientSearch.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientAddressSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientAddressSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientAddressSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#135 Adding missing search fields
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Client.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/StringToAddressListTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#136 Photo taken date
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Photo.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/PhotoTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#137 Feature/cbcccm 349 store cs num to store
  cccm-frontend/src/components/ClientRecord.vue
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/DashboardSupervisorView.vue
  cccm-frontend/src/components/common/FormioClientProfile.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/templateClientProfile.json
  cccm-frontend/src/components/common/templateClientSearch.json
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/services/setupAxioInterceptors.ts
  cccm-frontend/src/stores/store.js
Labels: frontend

#138 Token Propagation
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/CodeTableServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/FormDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/application.properties
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#141 Fix Missing Sealed Value
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Client.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#142 Add Photo to Profile and Details
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientDetailsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientDetailsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientProfileTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#143 Fix Endpoint Data Bug
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientAddressTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientPhotoTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/AddQuestionAnswerTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/AddressTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/AlertTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetDefaultLocationTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetLocationsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetOracleIdTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/user/GetUserIdTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/user/GetUserLocationsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/IsExpiredTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/StringToAddressListTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#144 Feature/cbcccm 366 delete form modal dialog
  cccm-frontend/index.html
  cccm-frontend/src/components/ClientRecord.vue
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/DashboardSupervisorView.vue
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/templateClientProfile.json
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/sara-cmp/sampleData/saraSampleData.json
  cccm-frontend/src/components/sara-cmp/saraCmpForm.vue
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/stores/store.js
Labels: frontend, vue

#146 Added btn in CRNA form to add a SARA form
  cccm-frontend/src/components/CrnaCmp.vue
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/router/index.ts
Labels: frontend, vue

#150 Feature/cbcccm 382 modal dialog fixes
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/ClientRecord.vue
  cccm-frontend/src/components/CrnaCmp.vue
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/templateClientProfile.json
  cccm-frontend/src/components/sara-cmp/saraCmpForm.vue
Labels: frontend, vue

#156 Feature/main merge from lees branch
  .github/workflows/backend-coverage-report.yml
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/lookup/CodeTableType.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/lookup/LookupApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Address.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/CodeTableServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/FormDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/FormDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/trend/TrendApiImpl.java
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/AddFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/DeleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormByIdTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/UpdateFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/form/FormSearchTest.java
  cccm-frontend/package-lock.json
  cccm-frontend/package.json
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/ClientRecord.vue
  cccm-frontend/src/components/CrnaCmp.vue
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormNavComponent.vue
  cccm-frontend/src/components/common/templateClientProfilePO.json
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormNavigation.vue
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/sara-cmp/sampleData/saraSampleData.json
  cccm-frontend/src/components/sara-cmp/saraCmpForm.vue
  cccm-frontend/src/components/trendanalysis/ChartFilter.vue
  cccm-frontend/src/components/trendanalysis/CommentsTable.vue
  cccm-frontend/src/components/trendanalysis/DataView.vue
  cccm-frontend/src/components/trendanalysis/InterventionsTable.vue
  cccm-frontend/src/components/trendanalysis/TrendAnalysisView.vue
  cccm-frontend/src/components/trendanalysis/TrendChart.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/stores/trendstore.js
Labels: backend, frontend, vue, refactoring, LARGE, formio
