Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2022-07, with the labels that each got.

#59 Action update
  .github/workflows/backend-build-push.yml
  .github/workflows/frontend-build-push.yml
Labels: Extreme DevOps

#60 Feature/cbcccm 232 responsive data mapping
  cccm-frontend/src/components/common/FormioButton.vue
  cccm-frontend/src/components/common/FormioCheckboxTextareaList.vue
  cccm-frontend/src/components/common/FormioEditDataGridRadioText.vue
  cccm-frontend/src/components/common/FormioEditDataGridRadioTextList.vue
  cccm-frontend/src/components/common/FormioIntervention.vue
  cccm-frontend/src/components/common/FormioLabelTextArea.vue
  cccm-frontend/src/components/common/FormioQuestionCombo.vue
  cccm-frontend/src/components/common/FormioRadio.vue
  cccm-frontend/src/components/common/FormioRadioTextarea.vue
  cccm-frontend/src/components/common/templateButton.json
  cccm-frontend/src/components/common/templateCheckboxTextareaList.json
  cccm-frontend/src/components/common/templateEditDataGridRadioTextList.json
  cccm-frontend/src/components/common/templateIntervention.json
  cccm-frontend/src/components/common/templateLabelTextArea.json
  cccm-frontend/src/components/common/templateQuestionCombo.json
  cccm-frontend/src/components/common/templateRadio.json
  cccm-frontend/src/components/common/templateRadioTextarea.json
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormDataEntry.vue
  cccm-frontend/src/components/crna-cmp/sampleData/sampleFormData.json
Labels: quarkus :vulcan_salute:, frontend

#61 Vuln testing
  .github/workflows/backend-build-push.yml
  .github/workflows/frontend-build-push.yml
  cccm-backend/Dockerfile
Labels: Extreme DevOps

#64 Fixed the cccm-frontend build error
  cccm-frontend/package-lock.json
  cccm-frontend/package.json
Labels: bug, frontend, vue

#65 Client Search Integrated With Access Layer
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/Address.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/Client.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/SpeedmentClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientPhotoTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, quarkus :vulcan_salute:

#67 Client Details Endpoint
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/DataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/DataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/AddressTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/GetSideCardsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/CalculateAgeTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/IsExpiredTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/YesNoToBoolTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#68 Feature/cbcccm 269 clientprofile
  cccm-frontend/src/components/common/FormioClientProfile.vue
  cccm-frontend/src/components/common/templateClientProfile.json
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormNavigation.vue
  cccm-frontend/src/components/form.api.ts
Labels: frontend, vue

#70 Update client profile
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#69 First draft of unauthorized access implementation
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/views/Unauthorized.vue
Labels: frontend, vue, keycloak integration

#71 Added soundex, clientSearch payload
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/templateClientSearch.json
Labels: frontend, vue

#72 Client profile api data access
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/Alert.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/ClientProfile.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/Photo.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/SpeedmentClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientPhotoTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/AlertTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientProfileTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/PhotoTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/CreateDesignationsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/StringToWarrantListTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, quarkus :vulcan_salute:

#73 Feature/cbcccm 260 autosave
  cccm-frontend/src/components/common/FormioButtons.vue
  cccm-frontend/src/components/common/FormioCheckboxTextareaList.vue
  cccm-frontend/src/components/common/FormioEditDataGridIntervention.vue
  cccm-frontend/src/components/common/FormioEditDataGridRadioText.vue
  cccm-frontend/src/components/common/FormioEditDataGridRadioTextList.vue
  cccm-frontend/src/components/common/FormioEditPanel.vue
  cccm-frontend/src/components/common/FormioLabelTextArea.vue
  cccm-frontend/src/components/common/FormioQuestionCombo.vue
  cccm-frontend/src/components/common/FormioRadio.vue
  cccm-frontend/src/components/common/FormioRadioTextarea.vue
  cccm-frontend/src/components/common/templateButtons.json
  cccm-frontend/src/components/common/templateCheckboxTextareaList.json
  cccm-frontend/src/components/common/templateLabelTextArea.json
  cccm-frontend/src/components/common/templateQuestionCombo.json
  cccm-frontend/src/components/common/templateRadio.json
  cccm-frontend/src/components/common/templateRadioTextarea.json
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormDataEntry.vue
  cccm-frontend/src/components/crna-cmp/sampleData/sampleFormData.json
  cccm-frontend/src/router/index.ts
Labels: frontend, vue

#74 Adding photo endpoint
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientPhotoTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/StringToWarrantListTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:
