Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2022-11, with the labels that each got.

#200 Feature/cbcccm 464 cleanup dummy data
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/UserMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/SupervisorDashboard.java
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-frontend/src/components/ClientRecord.vue
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/DashboardSupervisorView.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormioButtons.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/FormioFormInfo.vue
  cccm-frontend/src/components/common/FormioSidePanel.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/common/templateSidePanel.json
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormCasePlan.vue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/stores/store.js
Labels: backend, frontend

#203 Strip username directly
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
Labels: bug, (⌐■_■)ノ＼(■_■ )

#206 Add New Fields Supervisor
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/dashboard/DashboardsApiImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java

#207 Feature/203 207 complete form clone form
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/DashboardSupervisorView.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/FormioSidePanel.vue
  cccm-frontend/src/components/common/templateClientProfilePO.json
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/components/form/formSections/FormNavigation.vue
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/stores/store.js
Labels: frontend

#210 Add location id to endpoint
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/dashboard/DashboardsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/dashboard/GetPODashboardTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetPoDashboardTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java

#211 RNA List CRNA-SARA merge
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientFormSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java

#212 Feature/cbcccm 502 frontend tidyup
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/DashboardSupervisorView.vue
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/router/index.ts
Labels: frontend

#213 Fixing date issue
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/ClientProfile.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientProfileTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java

#214 Update RNAList type filtering
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/main.ts
Labels: frontend

#217 Updated the formId once a SARA is created
  cccm-frontend/src/components/CmpForm.vue
Labels: frontend

#219 Add Logon Endpoint and Logic
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Location.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/user/UserApiImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/LogonUserTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java

#222 Adding timeouts
  cccm-backend/cccm-api/src/main/resources/application.properties
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#223 Feature/cbcccm 513 form rendering issues
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormNavigation.vue
  cccm-frontend/src/components/form/formSections/FormSummary.vue
Labels: frontend

#225 Complete/Delete/Edit Validation Updates
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/dashboard/DashboardsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/dashboard/GetSupervisorDashboardTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/DeleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/EditFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetSupervisorDashboardTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/LogonUserTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java

#226 Consolidate Edit/Complete
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/UpdateForm.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/CodeTableServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/trend/TrendApiImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/EditFormTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java

#227 Handle switch to not using @idir
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/JwtUtils.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/jwt/StripUserNameTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java

#228 Complete Form Validation
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMError.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMErrorCode.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMException.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMExceptionHandler.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/error/CCCMExceptionHandlerTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/jwt/StripUserNameTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java

#230 Feature/cbcccm 436 navigation issue
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/common/FormioButtons.vue
  cccm-frontend/src/components/common/FormioFormInfo.vue
  cccm-frontend/src/components/common/FormioSidePanel.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/common/templateSidePanel.json
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormCasePlan.vue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/components/form/formSections/FormNavigation.vue
Labels: frontend

#231 Feature/cbcccm 46 print
  cccm-frontend/src/assets/css/print.css
  cccm-frontend/src/components/common/FormioSidePanel.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormNavigation.vue
  cccm-frontend/src/components/form/formSections/FormSummary.vue
Labels: frontend

#233 Update Edit and Complete
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/CompleteFormInput.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/trend/TrendApiImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/EditFormTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java

#234 Feature/finalize form edit
  cccm-frontend/src/assets/css/print.css
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/DashboardSupervisorView.vue
  cccm-frontend/src/components/common/FormioFormInfo.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormNavigation.vue
  cccm-frontend/src/components/form/formSections/FormSummary.vue
Labels: frontend

#236 Feature/cbcccm 518 access control
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/stores/store.js
Labels: frontend, formio

#238 Feature/fix photo taken date missing issue add print icon
  cccm-frontend/src/components/ClientRecord.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/templateClientProfile.json
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormSummary.vue
Labels: frontend, formio

#239 Format Date and Fix Age Calc
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/CalculateAgeTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/FormatDateTest.java
Labels: (⌐■_■)ノ＼(■_■ ), quarkus :vulcan_salute:, java

#240 Added axios timeout
  cccm-frontend/public/config.js
  cccm-frontend/src/components/form.api.ts
Labels: frontend

#241 Add supervision level and rating logic
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientFormSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java

#242 Increment Version
  cccm-backend/cccm-api/pom.xml
  cccm-backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), backend, Extreme DevOps, java

#243 Feature/cbcccm 460 client search
  cccm-frontend/src/assets/css/layout.css
  cccm-frontend/src/assets/css/noto-sans.css
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/templateClientSearch.json
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend

#244 CBCCCM-532: RNA Initial Assessment comments and Reassessment Comments
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend
