Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2022-05, with the labels that each got.

#15 Remove rest assured tests examples
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/AddClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/AddFormTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#16 Feature/cbcccm 31 crnacmp form UI
  cccm-frontend/index.html
  cccm-frontend/package-lock.json
  cccm-frontend/package.json
  cccm-frontend/src/assets/css/base.css
  cccm-frontend/src/assets/css/footer-bg.jpg
  cccm-frontend/src/assets/css/header-bg.jpg
  cccm-frontend/src/assets/css/layout.css
  cccm-frontend/src/assets/css/layout2.css
  cccm-frontend/src/assets/css/style_footer.css
  cccm-frontend/src/assets/css/style_header.css
  cccm-frontend/src/assets/css/styles-colours.css
  cccm-frontend/src/assets/css/styles.css
  cccm-frontend/src/assets/images/header-img.jpg
  cccm-frontend/src/components/crnaCmpForm.api.ts
  cccm-frontend/src/components/crnaCmpForm.vue
  cccm-frontend/src/components/crnaCmpFormBtnGroup.vue
  cccm-frontend/src/components/crnaCmpFormDataEntry.vue
  cccm-frontend/src/components/crnaCmpFormInfo.vue
  cccm-frontend/src/components/crnaCmpFormNavigation.vue
  cccm-frontend/src/components/crnaCmpFormStaticContent.vue
  cccm-frontend/src/components/sampleBtnGroup.json
  cccm-frontend/src/components/sampleDataEntry.json
  cccm-frontend/src/components/sampleFormInfo.json
  cccm-frontend/src/components/sampleNavigation.json
  cccm-frontend/src/components/sampleStatics.json
  cccm-frontend/src/views/CrnaCmpView.vue
Labels: enhancement, frontend, vue

#17 Update Model to Support Form.IO
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#18 Add Service Pull Data From File
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-api/sample_data.json
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/DataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/DataServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/GetFormByIdTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#20 Add SideCard Endpoint and API Refactoring
  cccm-backend/cccm-api/sampleSideCard.json
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/DataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/DataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/sidecard/SideCardsApiImpl.java
  cccm-backend/cccm-api/src/main/resources/Community Corrections Case Management API.postman_collection.json
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/AddClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/DeleteClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/UpdateClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/GetSideCardsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/sidecard/GetSideCardsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#21 Add Error Handling
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMError.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMErrorCode.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMException.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMExceptionHandler.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/DataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/DataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/sidecard/SideCardsApiImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/error/CCCMExceptionHandlerTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/GetFormByIdTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/GetSideCardsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/sidecard/GetSideCardsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#22 Adding Jacoco
  cccm-backend/cccm-api/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), backend, Extreme DevOps

#24 Adding logging
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMExceptionHandler.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/lookup/FormTypesApiServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/sidecard/SideCardsApiImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#25 Cbcccm 145
  .github/workflows/backend-coverage-report.yml
Labels: backend, Extreme DevOps

#26 Feature/cbcccm 31 crnacmp form UI
  cccm-backend/cccm-api/sampleSideCard.json
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-frontend/index.html
  cccm-frontend/src/App.vue
  cccm-frontend/src/assets/images/cccm-navigation.jpg
  cccm-frontend/src/components/Footer.vue
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormBtnGroup.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormDataEntry.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormInfo.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormNavigation.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormStaticContent.vue
  cccm-frontend/src/components/crna-cmp/sampleData/sampleBtnGroup.json
  cccm-frontend/src/components/crna-cmp/sampleData/sampleDataEntry.json
  cccm-frontend/src/components/crna-cmp/sampleData/sampleFormInfo.json
  cccm-frontend/src/components/crna-cmp/sampleData/sampleNavigation.json
  cccm-frontend/src/components/crna-cmp/sampleData/sampleStatics.json
  cccm-frontend/src/components/crna-cmp/sampleData/sampleTemplateFormInfo.json
  cccm-frontend/src/components/crnaCmpForm.api.ts
  cccm-frontend/src/components/crnaCmpForm.vue
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/main.ts
  cccm-frontend/src/views/CrnaCmpView.vue
Labels: quarkus :vulcan_salute:, frontend, vue

#27 Cbcccm 153
  .github/workflows/build-push.yml
  .github/workflows/promote-image-to-env.yml
Labels: Extreme DevOps

#30 Cbcccm 155
  .github/workflows/backend-build-push.yml
  .github/workflows/backend-promote-image-to-env.yml
  .github/workflows/frontend-build-push.yml
  .github/workflows/frontend-promote-image-to-env.yml
Labels: Extreme DevOps

#32 Fix Jacoco Coverage Reporting
  .github/workflows/backend-coverage-report.yml
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-api/src/main/resources/application.properties
Labels: bug, :cat: :cat2: :joy_cat: :smile_cat:, backend

#33 Feature/cbcccm 112 navigation
  cccm-frontend/Dockerfile
  cccm-frontend/index.html
  cccm-frontend/nginx.conf
  cccm-frontend/src/assets/css/bootstrap.css
  cccm-frontend/src/assets/css/formio-full.css
  cccm-frontend/src/assets/css/header-bg.jpg
  cccm-frontend/src/assets/css/layout.css
  cccm-frontend/src/assets/css/layout2.css
  cccm-frontend/src/assets/css/navArrow.jpg
  cccm-frontend/src/assets/css/navArrowNotSelected.jpg
  cccm-frontend/src/assets/css/styles-colours.css
  cccm-frontend/src/assets/css/styles.css
  cccm-frontend/src/assets/css/ul.jpg
  cccm-frontend/src/assets/gov_bc_logo.svg
  cccm-frontend/src/assets/images/cccm-navigation.jpg
  cccm-frontend/src/assets/images/header-img.jpg
  cccm-frontend/src/assets/images/logo-banner.svg
  cccm-frontend/src/components/Footer.vue
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/common/FormioButton.vue
  cccm-frontend/src/components/common/FormioFormInfo.vue
  cccm-frontend/src/components/common/FormioLabelTextArea.vue
  cccm-frontend/src/components/common/FormioPanel.vue
  cccm-frontend/src/components/common/FormioQuestionCategoryTitle.vue
  cccm-frontend/src/components/common/FormioQuestionCombo.vue
  cccm-frontend/src/components/common/FormioRadio.vue
  cccm-frontend/src/components/common/FormioRadioTextarea.vue
  cccm-frontend/src/components/common/templateButton.json
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/common/templateLabelTextArea.json
  cccm-frontend/src/components/common/templatePanel.json
  cccm-frontend/src/components/common/templateQuestionCategoryTitle.json
  cccm-frontend/src/components/common/templateQuestionCombo.json
  cccm-frontend/src/components/common/templateRadio.json
  cccm-frontend/src/components/common/templateRadioTextarea.json
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormBtnGroup.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormDataEntry.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormInfo.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormNavigation.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormSideCards.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormStaticContent.vue
  cccm-frontend/src/components/crna-cmp/sampleData/sampleBtnGroup.json
  cccm-frontend/src/components/crna-cmp/sampleData/sampleDataEntry.json
  cccm-frontend/src/components/crna-cmp/sampleData/sampleFormData.json
  cccm-frontend/src/components/crna-cmp/sampleData/sampleNavigation.json
  cccm-frontend/src/components/crna-cmp/sampleData/sampleStatics.json
  cccm-frontend/src/components/crna-cmp/sampleData/sampleTemplateFormInfo.json
  cccm-frontend/src/components/form.api.ts
Labels: frontend, vue

#36 Adding lyfecycle badge and basic structure
  README.md
Labels: documentation

#38 Fix file read in docker(deployed)
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/DataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/sampleFormData.json
  cccm-backend/cccm-api/src/main/resources/sampleSideCard.json
  cccm-backend/cccm-api/src/main/resources/sample_data.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/GetFormRequestTest.java
  cccm-backend/cccm-api/src/test/resources/sampleFormData.json
Labels: bug, backend, quarkus :vulcan_salute:

#39 Feature/cbcccm 165 expose env var
  cccm-frontend/index.html
  cccm-frontend/public/config.js
  cccm-frontend/src/App.vue
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/form.api.ts
Labels: frontend, vue
