Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2022-06, with the labels that each got.

#43 Adding log line
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/AddFormTest.java
Labels: (⌐■_■)ノ＼(■_■ )

#42 Feature/cbcccm 157 save data
  cccm-frontend/src/components/common/FormioPanel.vue
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormDataEntry.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormInfo.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormNavigation.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormRightPanel.vue
  cccm-frontend/src/components/crna-cmp/sampleData/sampleFormData.json
  cccm-frontend/src/components/form.api.ts
Labels: frontend, vue

#48 Remove Marshmallow
  cccm-backend/cccm-api/src/main/resources/sampleFormData.json
Labels: backend

#51 Vulnscanning
  .github/workflows/backend-build-push.yml
  .github/workflows/frontend-build-push.yml
Labels: Extreme DevOps

#50 Feature/cbcccm 115 intervention
  cccm-frontend/src/components/common/FormioIntervention.vue
  cccm-frontend/src/components/common/FormioQuestionCombo.vue
  cccm-frontend/src/components/common/templateIntervention.json
  cccm-frontend/src/components/common/templateQuestionCombo.json
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/crna-cmp/sampleData/sampleFormData.json
Labels: frontend, vue

#49 Add Keycloak OIDC
  cccm-backend/cccm-api/.env.template
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/lookup/FormTypesApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/lookup/LocationsApiImpl.java
  cccm-backend/cccm-api/src/main/resources/Community Corrections Case Management API.postman_collection.json
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-backend/cccm-api/src/main/resources/cccm-env.postman_environment.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/AddFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/DeleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormByIdTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormByTypeTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/UpdateFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetFormTypesTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetLocationsTest.java
  docker-compose.yml
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#55 Feature/client search api
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApi.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/Client.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#57 Update application.properties
  cccm-backend/cccm-api/src/main/resources/application.properties
Labels: (⌐■_■)ノ＼(■_■ )

#58 Refactor client search
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApi.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/Client.java
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend
