Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2022-12, with the labels that each got.

#245 Feature/cbcccm 388 display lock icon
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormioButtonGroupSide.vue
  cccm-frontend/src/components/common/FormioButtonGroupSubmit.vue
  cccm-frontend/src/components/common/FormioButtons.vue
  cccm-frontend/src/components/common/templateButtonGroupSide.json
  cccm-frontend/src/components/common/templateButtonGroupSubmit.json
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend

#246 Add Lock Boolean
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientFormSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/GetClientFormSummaryTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/CalculateLockedTest.java
Labels: (⌐■_■)ノ＼(■_■ ), quarkus :vulcan_salute:, java

#248 Update FormRenderer.vue
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: bug

#247 Adding acute to RNA list
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientFormSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/CalculateLockedTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, quarkus :vulcan_salute:, java

#249 Fixed the condition logic for 'Save and Continue' button
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/templateButtonGroupSubmit.json
  cccm-frontend/src/components/trendanalysis/TrendAnalysisView.vue
Labels: bug

#251 Refactored hardcoded value; fixed the 'Edit' button behavior
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/DashboardSupervisorView.vue
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/main.ts
Labels: bug, refactoring

#252 Adding Initial Run
  cccm-backend/cccm-role-sync/.dockerignore
  cccm-backend/cccm-role-sync/.gitignore
  cccm-backend/cccm-role-sync/README.md
  cccm-backend/cccm-role-sync/pom.xml
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/CCCMRoleSync.java
  cccm-backend/cccm-role-sync/src/main/resources/application.properties
  cccm-backend/cccm-role-sync/src/main/resources/client/keycloak-openapi.yml
  cccm-backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :fish: :tropical_fish:

#253 Update run and generate client code
  cccm-backend/cccm-role-sync/pom.xml
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/CCCMRoleSync.java
  cccm-backend/cccm-role-sync/src/main/resources/client/keycloak-openapi.yml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#255 Feature/fix display validation error
  cccm-frontend/public/config.js
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/DashboardSupervisorView.vue
  cccm-frontend/src/components/Footer.vue
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend

#258 Added Overdue RNA form list, and it's styling
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend

#259 Adding Role Sync Service
  cccm-backend/cccm-role-sync/pom.xml
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/CCCMRoleSync.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/Keys.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/config/RequestUUIDHeaderFactory.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/model/RoleGroupEnum.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/model/User.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/CCCMApiService.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/RoleSyncService.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/RoleSyncServiceImpl.java
  cccm-backend/cccm-role-sync/src/main/resources/application.properties
  cccm-backend/cccm-role-sync/src/main/resources/client/keycloak-openapi.yml
  cccm-backend/cccm-role-sync/src/test/java/ca/bc/gov/open/jag/config/RequestUUIDHeaderFactoryTest.java
  cccm-backend/cccm-role-sync/src/test/java/ca/bc/gov/open/jag/service/RoleSyncServiceTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, keycloak integration, java, :fish: :tropical_fish:

#260 Refactor and Add Test
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/RoleSyncServiceImpl.java
  cccm-backend/cccm-role-sync/src/main/resources/application.properties
  cccm-backend/cccm-role-sync/src/test/java/ca/bc/gov/open/jag/service/RoleSyncServiceTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#261 Adding type and status
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Client.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientAddressTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientDetailsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/IsExpiredTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/StringToAddressListTest.java
Labels: (⌐■_■)ノ＼(■_■ ), quarkus :vulcan_salute:, DO NOT MERGE, java, :fish: :tropical_fish:

#263 Feature/cbcccm 563 acute create frontend
  cccm-frontend/index.html
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/FormioFormInfo.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/common/templateSidePanel.json
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/main.ts
Labels: frontend

#264 Role Sync Update
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/Keys.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/RoleSyncServiceImpl.java
  cccm-backend/cccm-role-sync/src/test/java/ca/bc/gov/open/jag/service/RoleSyncServiceTest.java
Labels: (⌐■_■)ノ＼(■_■ ), quarkus :vulcan_salute:, java

#265 Feature/cbcccm 567 auto save acute total score
  cccm-frontend/src/assets/css/print.css
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/stores/autoSaveStore.js
Labels: frontend

#267 Add profiles to parent pom
  cccm-backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#266 Verbose Logging
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/config/TransactionLoggingFilter.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/dashboard/DashboardsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMExceptionHandler.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/lookup/LookupApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/UserMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/role/RoleApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/CodeTableServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/FormDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/TrendDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/trend/TrendApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/user/UserApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetSupervisorDashboardDetailsTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#268 Code cleanup
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormioFormInfo.vue
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/main.ts
Labels: frontend

#271 Added START99R
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/stores/autoSaveStore.js
Labels: frontend, formio

#270 Static99r backend
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/main/resources/configs/clone_config.json
  cccm-backend/cccm-api/src/main/resources/configs/static99r_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CreateFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/EditFormTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#274 Feature/cbcccm 583 604 hide create sara btn when form is readonly
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/templateClientProfilePO.json
Labels: frontend

#273 Update From Search
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientFormSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#272 Set Enabled
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/RoleSyncServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, :fish: :tropical_fish:
