Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2022-08, with the labels that each got.

#75 Adding form search for rna list
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/FormMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/Form.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/SpeedmentClientService.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/FormTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, quarkus :vulcan_salute:

#76 Add missing field
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ )

#77 Add Data Access For Lookups
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/lookup/FormTypesApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/lookup/LocationsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/CodeTableMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/CodeTable.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/SpeedmentClientService.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetFormTypesTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetLocationsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/CodeTableTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#79 Feature/cbcccm 15 rna list
  cccm-frontend/src/components/common/FormioClientProfile.vue
  cccm-frontend/src/components/common/FormioEditPanel.vue
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormDataEntry.vue
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/views/ClientProfileView.vue
  cccm-frontend/src/views/RNAList.vue
Labels: frontend, vue

#80 Feature/cbcccm 285 286 defects
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/templateClientProfile.json
  cccm-frontend/src/components/common/templateClientSearch.json
Labels: frontend, vue

#81 API Refactor
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMException.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/lookup/FormTypesApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/lookup/LocationsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/CodeTableMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/FormMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Address.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Alert.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Client.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/ClientProfile.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/CodeTable.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Form.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Photo.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/ClientSearch.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/FormRequest.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/CodeTableService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/CodeTableServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/DataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/FormDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/FormDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/SpeedmentClientService.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientPhotoTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/AddFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/DeleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormByIdTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormByTypeTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetFormTypesTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetLocationsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/AddressTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/AlertTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientProfileTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/CodeTableTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/FormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/PhotoTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientPhotoTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientProfileTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/codetable/GetFormTypeCodeTableTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/codetable/GetLocationCodeTableTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/form/FormSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/form/GetFormRequestTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/StringToWarrantListTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/YesNoToBoolTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, refactoring, LARGE

#82 Filter fix
  cccm-frontend/src/views/RNAList.vue
Labels: bug, frontend

#83 Feature/bccccm 237 po dashboard
  cccm-frontend/src/components/common/templateClientProfilePO.json
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/views/DashboardPOView.vue
  cccm-frontend/src/views/DashboardSupervisorView.vue
  cccm-frontend/src/views/RNAList.vue
Labels: frontend, vue

#84 Defect fixes
  cccm-frontend/src/views/DashboardPOView.vue
Labels: bug, frontend

#85 PO Dashboard Support
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/ClientSearch.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:

#86 Feature/cbcccm 16 supervisor dashboard
  cccm-frontend/src/components/common/FormioClientProfile.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/templateClientProfilePO.json
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/views/DashboardPOView.vue
  cccm-frontend/src/views/DashboardSupervisorView.vue
  cccm-frontend/src/views/RNAList.vue
Labels: frontend, vue

#87 Feature/supervisor dashboard tidyup
  cccm-frontend/src/App.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/views/DashboardSupervisorView.vue
Labels: frontend, vue

#88 Add supervisor endpoint
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/dashboard/DashboardsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientPhotoTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/dashboard/GetSupervisorDashboardTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientPhotoTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#89 Feature/merge from 255
  .gitignore
  cccm-frontend/index.html
  cccm-frontend/src/assets/css/bootstrap.css
  cccm-frontend/src/assets/css/layout.css
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/assets/css/style_footer.css
  cccm-frontend/src/assets/css/styles.css
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/FormioEditDataGridRadioTextList.vue
  cccm-frontend/src/components/common/FormioFormInfo.vue
  cccm-frontend/src/components/common/templateButtons.json
  cccm-frontend/src/components/common/templateClientSearch.json
  cccm-frontend/src/components/common/templateEditDataGridRadioTextList.json
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormDataEntry.vue
  cccm-frontend/src/components/crna-cmp/formSections/crnaCmpFormNavigation.vue
  cccm-frontend/src/components/crna-cmp/sampleData/sampleFormData.json
Labels: frontend, vue

#97 Implements root path to frontend app
  cccm-frontend/Dockerfile
  cccm-frontend/index.html
  cccm-frontend/nginx.conf
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/views/DashboardPOView.vue
  cccm-frontend/src/views/DashboardSupervisorView.vue
Labels: frontend, vue

#99 Client Search Updates
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/ClientSearch.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#100 Feature/cbcccm 312 state management
  cccm-frontend/package-lock.json
  cccm-frontend/package.json
  cccm-frontend/src/App.vue
  cccm-frontend/src/components/Footer.vue
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/main.ts
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/stores/store.js
  cccm-frontend/src/views/DashboardPOView.vue
  cccm-frontend/src/views/DashboardSupervisorView.vue
Labels: frontend, vue

#103 Update to key/value
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/CodeTableMapper.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetAddressTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetFormTypesTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetGendersTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetIdentifiersTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetLocationsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/codetable/GetCodeTableTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#104 Add Form Question Add and Updates
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMErrorCode.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/error/CCCMExceptionHandler.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/error/CCCMExceptionHandlerTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/AddQuestionAnswerTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/UpdateQuestionAnswerTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#105 Refactor for Case Manage and Address
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Client.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientProfileTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/StringToAddressListTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#107 Feature/cbcccm 314 data endpoint url embedded in formiotemplace
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/templateClientSearch.json
Labels: frontend, vue, formio

#109 Client Profile Updates
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/ClientProfile.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Warrant.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/MappingUtils.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientProfileTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/WarrantTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientProfileTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/util/mapping/StringToWarrantListTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#110 Add Default User Location Endpoint
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/user/UserApiImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetDefaultLocationTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/user/GetUserDefaultLocationTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:
