Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2022-10, with the labels that each got.

#163 Feature/cbcccm 366 form delete dialog
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/CrnaCmp.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/crna-cmp/crnaCmpForm.vue
  cccm-frontend/src/components/sara-cmp/saraCmpForm.vue
  cccm-frontend/src/router/index.ts
Labels: frontend, vue

#168 Changed the reference to formio.full.min.js
  cccm-frontend/index.html
Labels: formio

#169 PO Dashboard API Implementation
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/dashboard/DashboardsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/UserMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/PODashboard.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/dashboard/GetPODashboardTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/AddressTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/PODashboardTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetPoDashboardTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#172 Sync Search With Procedure Update
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/client/ClientsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/ClientAddressSearch.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/ClientSearch.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientAddressSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/client/GetClientsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientAddressSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientAddressSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#178 Add Order Effective Date/Cleanup
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/FormMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/ClientProfile.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/FormRequest.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/FormDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/FormDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/TrendDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/TrendDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/trend/TrendApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/JwtUtils.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/AddQuestionAnswerTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetFormByTypeTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/UpdateQuestionAnswerTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetInterventionsTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/lookup/GetResponsivityTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ClientProfileTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/ProgramTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/codetable/GetCodeTableTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/form/GetFormRequestTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#180 Feature/cbcccm 439 implement case plan view
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-frontend/src/components/common/FormioFormInfo.vue
  cccm-frontend/src/components/common/FormioSidePanel.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormCasePlan.vue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/components/form/formSections/FormNavigation.vue
  cccm-frontend/src/components/form/formSections/FormSummary.vue
Labels: backend, frontend, vue

#181 Adding supervisor dashboard implementation
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/dashboard/DashboardsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/UserMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/SupervisorDashboard.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/dashboard/GetSupervisorDashboardTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetSupervisorDashboardTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:

#182 Display and save sourcesContacted
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-frontend/src/components/common/FormioSidePanel.vue
  cccm-frontend/src/components/common/templateSidePanel.json
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: backend, frontend

#184 Add Clone/Link/Update Functionality
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/CloneFormRequest.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java

#185 Update Swagger
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, refactoring, java

#186 Implement Saves
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/FormInput.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java

#189 Typo fix to side panel, fix to sourceContacted update
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/common/FormioSidePanel.vue
  cccm-frontend/src/components/common/templateSidePanel.json
Labels: backend, frontend

#191 Adding Validation and Delete
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/validation/Question.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/validation/Validation.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/validation/ValidationError.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/validation/ValidationResult.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/main/resources/configs/clone_config.json
  cccm-backend/cccm-api/src/main/resources/configs/crna_validation_config.json
  cccm-backend/cccm-api/src/main/resources/configs/sara_validation_config.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java

#194 Add edit endpoint
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java

#195 Feature/cbcccm 461 auto save form level comments
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormCasePlan.vue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/components/form/formSections/FormSummary.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/stores/autoSaveStore.js
Labels: frontend

#196 update to form type implementation
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, quarkus :vulcan_salute:, java

#197 Add Link Form Endpoint CBCCCM-413
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, quarkus :vulcan_salute:

#199 Add locationid to request
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/dashboard/DashboardsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/dashboard/GetSupervisorDashboardTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetSupervisorDashboardTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:
