Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2023-01, with the labels that each got.

#276 Updated Unauthorized view, including the wording and layout
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/Unauthorized.vue
Labels: frontend

#277 Adding RNA Status, Clone Configs and Acute/Static99r Validation
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/ClientProfile.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/main/resources/configs/acute_validation_config.json
  cccm-backend/cccm-api/src/main/resources/configs/clone_config.json
  cccm-backend/cccm-api/src/main/resources/configs/static99r_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientProfileTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CloneFormTest.java
  cccm-backend/cccm-api/src/test/resources/configs/clone_config.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#278 Feature/cbcccm 622 UI create stable form
  cccm-frontend/src/components/ClientRecord.vue
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/main.ts
Labels: frontend

#281 Role sync devops
  .github/workflows/backend-promote-image-to-env.yml
  .github/workflows/frontend-promote-image-to-env.yml
  .github/workflows/role-sync-push.yml
  cccm-backend/cccm-role-sync/.dockerignore
  cccm-backend/cccm-role-sync/Dockerfile.rolesync
  docker-compose.yml
Labels: Extreme DevOps

#282 Add Fine Grained Roles
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
Labels: (⌐■_■)ノ＼(■_■ )

#283 Feature/cbcccm 352 new groups navigation
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/stores/store.js
Labels: frontend

#284 FIxed the data mapping.
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/common/templateClientProfilePO.json
Labels: frontend

#287 Exclude health from standard out
  cccm-backend/cccm-api/src/main/resources/application.properties
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, :fish: :tropical_fish:

#288 added CI/CD niotes
  .github/workflows/role-sync-promote-image-to-env.yml
  README.md
Labels: documentation, Extreme DevOps

#286 Adding support of new role configs
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/CloneFormRequest.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CloneFormTest.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/RoleSyncServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#289 Make Field Required In Dashboards
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, :fish: :tropical_fish:

#291 Add Auto Create Form
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-backend/cccm-api/src/main/resources/configs/smo_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/EditFormTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, :fish: :tropical_fish:

#292 Feature/cbcccm 656 po dashboard perf issue
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/DashboardSupervisorView.vue
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
Labels: bug, frontend

#293 Update RNAList.vue
  cccm-frontend/src/components/RNAList.vue
Labels: bug, frontend

#294 cbcccm-647: podashboard issues
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/common/templateClientProfile.json
  cccm-frontend/src/components/common/templateClientProfilePO.json
Labels: bug, frontend

#296 Fix search issue
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/ClientSearch.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, :fish: :tropical_fish:

#298 Fix Linked Form Validation
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, :fish: :tropical_fish:

#299 Feature/cbcccm 538 add smo overall rating to rnalist
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
Labels: frontend

#300 Convert to SORA
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, :fish: :tropical_fish:

#301 Refactor to SO-Overall
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/main/resources/configs/clone_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CreateFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateACUTETest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateOVERALLTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, :fish: :tropical_fish:

#302 Use Underscore
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/main/resources/configs/clone_config.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, :fish: :tropical_fish:

#303 Feature/cbcccm 549 create smo overall rating
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/main.ts
Labels: frontend

#304 Move to Version 21
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/Alert.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/model/AlertTest.java
  cccm-backend/cccm-role-sync/pom.xml
  cccm-backend/pom.xml
Labels: quarkus :vulcan_salute:

#305 Updated the datatable key to make it unique
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/templateClientSearch.json
Labels: frontend

#307 Feature/cbcccm 636 crna defect
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/common/FormioFormInfo.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/common/templateSidePanel.json
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend
