Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2023-07, with the labels that each got.

#605 Feature/884 form scale
  cccm-frontend/index.html
  cccm-frontend/src/assets/css/font-awesome_4.7.0.min.css
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/ClientRecord.vue
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/Footer.vue
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/trendanalysis/DataView.vue
  cccm-frontend/src/main.ts
Labels: frontend

#612 Update sara validation config
  cccm-backend/cccm-api/src/main/resources/configs/sara_validation_config.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, LARGE, java, :fish: :tropical_fish:

#614 Feature/790 trend refactoring
  cccm-frontend/src/components/trendanalysis/ChartFilter.vue
Labels: frontend

#615 Update TrendChart.vue
  cccm-frontend/src/components/trendanalysis/TrendChart.vue
Labels: frontend

#617 Version 1.0.3
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-role-sync/pom.xml
  cccm-backend/pom.xml
  cccm-frontend/src/components/Footer.vue
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, :fish: :tropical_fish:

#618 Fixed the 'Overall' creation btn behavior
  cccm-frontend/src/components/CmpForm.vue
Labels: frontend

#619 Version 1.0.5 SNAPSHOT
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-role-sync/pom.xml
  cccm-backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, :fish: :tropical_fish:

#620 Added more filter options, redesigned the datapoint popup
  cccm-frontend/src/components/trendanalysis/ChartFilter.vue
  cccm-frontend/src/components/trendanalysis/TrendChart.vue
Labels: frontend

#622 Fixed the code to prevent double clicking
  cccm-frontend/src/components/common/FormioButtonGroupSubmit.vue
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/main.ts
Labels: frontend

#635 Adding most recent functionality
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/ClientFormSearchUsingGETTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientFormSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#637 Make chart yaxis data-driven
  cccm-frontend/src/components/trendanalysis/ChartFilter.vue
  cccm-frontend/src/components/trendanalysis/TrendAnalysisView.vue
  cccm-frontend/src/components/trendanalysis/TrendChart.vue
Labels: frontend

#646 Feature/241 trend make intervention formtype driven
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/main/resources/configs/clone_config.json
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/trendanalysis/ChartFilter.vue
  cccm-frontend/src/components/trendanalysis/CommentsAndInterventionsTable.vue
  cccm-frontend/src/components/trendanalysis/TrendAnalysisView.vue
  cccm-frontend/src/components/trendanalysis/TrendChart.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/stores/store.js
  cccm-frontend/src/stores/trendstore.js
Labels: frontend

#647 Feature/update trend
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/trendanalysis/ChartFilter.vue
  cccm-frontend/src/components/trendanalysis/CommentsAndInterventionsTable.vue
  cccm-frontend/src/components/trendanalysis/DataView.vue
  cccm-frontend/src/components/trendanalysis/TrendChart.vue
Labels: backend, frontend

#648 Fixed the intervention display issue
  cccm-frontend/src/components/trendanalysis/ChartFilter.vue
  cccm-frontend/src/components/trendanalysis/TrendAnalysisView.vue
  cccm-frontend/src/components/trendanalysis/TrendChart.vue
  cccm-frontend/src/stores/trendstore.js
Labels: frontend

#650 Feature/807 904 trend UI updates
  cccm-frontend/src/components/trendanalysis/CommentsAndInterventionsTable.vue
  cccm-frontend/src/components/trendanalysis/DataView.vue
Labels: frontend
