Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2023-06, with the labels that each got.

#525 UpdateDate logic update in the frontend
  cccm-frontend/src/components/common/FormioSidePanel.vue
  cccm-frontend/src/components/common/templateSidePanel.json
Labels: frontend, formio

#529 Add OSU Update Date
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientFormSearchTest.java
  cccm-frontend/src/components/RNAList.vue
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, frontend, vue, javascript, java, :fish: :tropical_fish:

#531 Added logic to handle show-trend role
  cccm-frontend/src/components/ClientRecord.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/stores/store.js
Labels: frontend

#536 Version 1.0.1
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-role-sync/pom.xml
  cccm-backend/pom.xml
  cccm-frontend/package.json
Labels: version

#532 Active Directory Lookup
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/Keys.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/config/SSORequestUUIDHeaderFactory.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/model/IdirUser.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/CSSSSOApiService.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/LdapService.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/LdapServiceImpl.java
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/RoleSyncServiceImpl.java
  cccm-backend/cccm-role-sync/src/main/resources/application.properties
  cccm-backend/cccm-role-sync/src/test/java/ca/bc/gov/open/jag/service/RoleSyncServiceTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#538 1.0.2-SNAPSHOT
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-role-sync/pom.xml
  cccm-backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#539 Add sources contacted to validation
  cccm-backend/cccm-api/src/main/resources/configs/acute_validation_config.json
  cccm-backend/cccm-api/src/main/resources/configs/overall_validation_config.json
  cccm-backend/cccm-api/src/main/resources/configs/stable_validation_config.json
  cccm-backend/cccm-api/src/main/resources/configs/static99r_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateACUTETest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateOVERALLTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateSTABLETest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateSTAT99Test.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#544 Update Sort
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/UpdateDateComparator.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientFormSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#545 Update Static-99R
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#547 Add logged in location to completion
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/CompleteFormInput.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#548 Feature/new stable form
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/stores/store.js
Labels: frontend

#555 Trend Analysis - Comment and Intervention Tooltip Fixes
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-frontend/src/components/trendanalysis/CommentsAndInterventionsTable.vue
  cccm-frontend/src/components/trendanalysis/TrendChart.vue
Labels: bug, frontend

#556 Update to support new STABLE requirements
  cccm-frontend/src/components/form/formSections/FormSummary.vue
Labels: frontend

#557 Auto Logout On Token Expiry
  cccm-frontend/package-lock.json
  cccm-frontend/package.json
  cccm-frontend/src/assets/css/styles.css
  cccm-frontend/src/components/Header.vue
  cccm-frontend/src/main.ts
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, vue, javascript, :fish: :tropical_fish:

#558 Add date logic to display and sort
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/util/UpdateDateComparator.java
  cccm-frontend/src/components/RNAList.vue
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, frontend, vue, javascript, java, :fish: :tropical_fish:

#566 Feature/828 new overall form
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/common/FormioFormInfo.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/common/templateSidePanel.json
Labels: frontend

#564 Version 1.0.3-SNAPSHOT
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-role-sync/pom.xml
  cccm-backend/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), version

#568 Add Overall Validation
  cccm-backend/cccm-api/src/main/resources/configs/overall_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateOVERALLTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, :fish: :tropical_fish:

#569 Validation Fix
  cccm-backend/cccm-api/src/main/resources/configs/crna_validation_config.json
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#570 Fixed the 'specific factor'
  cccm-frontend/src/components/PrintView.vue
  cccm-frontend/src/components/form/formSections/FormSummary.vue
Labels: frontend

#573 Add Longer Timeout
  cccm-frontend/src/components/Header.vue
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, frontend, vue, javascript, :fish: :tropical_fish:

#574 Add increased read timeout to obridge request
  cccm-backend/cccm-api/src/main/resources/application.properties
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#580 Feature/860 rna list button change
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/stores/store.js
Labels: frontend

#581 Adjustment toward print view
  cccm-frontend/src/components/PrintView.vue
Labels: frontend

#582 Added space between each column
  cccm-frontend/src/components/PrintView.vue
Labels: frontend
