Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2023-08, with the labels that each got.

#669 Validation Update
  cccm-backend/cccm-api/src/main/resources/configs/stable_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateSTABLETest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, :fish: :tropical_fish:

#670 When form is in expanded view, show error if validation failed
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend

#675 Feature/915 rna list screen
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/main.ts
Labels: frontend

#682 Show BP section in table format in summary and print view
  cccm-frontend/src/components/PrintView.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/form/formSections/FormSMOOverallBPSection.vue
  cccm-frontend/src/components/form/formSections/FormSummary.vue
  cccm-frontend/src/main.ts
Labels: frontend

#683 Move BP section at the end
  cccm-frontend/src/components/PrintView.vue
Labels: frontend

#684 Fixed the refresh issue upon clicking 'Edit' button
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/main.ts
Labels: frontend

#690 Overall Validation Updates
  cccm-backend/cccm-api/src/main/resources/configs/overall_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateOVERALLTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, quarkus :vulcan_salute:, java
