Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2023-02, with the labels that each got.

#308 Adding new field
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, :fish: :tropical_fish:

#309 Created By Idir
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/DeleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/EditFormTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java

#311 Feature/cbcccm 692 frontend consume auth by nm new val
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/components/form/formSections/FormNavigation.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/router/index.ts
  cccm-frontend/src/stores/store.js
Labels: frontend

#310 Adding all required fields to sara validation
  cccm-backend/cccm-api/src/main/resources/configs/sara_validation_config.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#312 Feature/cbcccm 680 formview refresh issue
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend

#313 Feature/cbcccm 635 client record issues
  cccm-frontend/src/components/common/templateClientProfile.json
  cccm-frontend/src/main.ts
Labels: frontend

#314 Update FormNavigation.vue
  cccm-frontend/src/components/form/formSections/FormNavigation.vue
Labels: frontend

#315 Remove court tab
  cccm-frontend/src/components/common/templateClientProfile.json
Labels: frontend

#317 Feature/defects 702 703
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
Labels: frontend

#318 Adding Stable Validation
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/configs/stable_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateSTABLETest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#319 PO Dashboard Update Name Logic and Dashboard Link Logic
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/Header.vue
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, frontend, vue, :fish: :tropical_fish:

#320 Adding Error Message
  cccm-frontend/package-lock.json
  cccm-frontend/package.json
  cccm-frontend/src/components/form.api.ts
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, frontend, vue, :fish: :tropical_fish:

#321 Fix Client Search, Order Info and Name in Header
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/DashboardSupervisorView.vue
  cccm-frontend/src/components/common/FormioClientSearch.vue
  cccm-frontend/src/components/common/templateClientSearch.json
  cccm-frontend/src/components/common/templateSidePanel.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, vue, javascript, :fish: :tropical_fish:

#322 Bug Fixes
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/UserMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/SupervisorDashboard.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetSupervisorDashboardTest.java
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/DashboardSupervisorView.vue
Labels: bug, (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, frontend, vue, Extreme DevOps, javascript, java, :fish: :tropical_fish:

#325 Add Dependabot Weekly Check
  .github/dependabot.yml
Labels: dependencies

#339 Add SEN Column
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/UserMapper.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-frontend/src/components/DashboardSupervisorView.vue
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, frontend, vue, javascript, java, :fish: :tropical_fish:

#340 Update SARA Validation Config
  cccm-backend/cccm-api/src/main/resources/configs/sara_validation_config.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#342 Update Acute Validation
  cccm-backend/cccm-api/src/main/resources/configs/acute_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateACUTETest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, java, :fish: :tropical_fish:

#344 Feature/fix frontend handling createdby idir being null
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend

#353 Feature/po dashboard fix no photo
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/common/templateClientProfilePO.json
  cccm-frontend/src/components/form.api.ts
Labels: frontend

#354 Remove locationId param
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/stores/store.js
Labels: frontend
