Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2023-04, with the labels that each got.

#389 Remove Intervention Validation SARA
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/configs/sara_validation_config.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, :fish: :tropical_fish:

#392 Fixed the data mapping issue in client search expanded view
  cccm-frontend/src/components/common/FormioClientSearch.vue
Labels: frontend

#395 Feature/778 updates to sources contacted
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/common/templateSidePanel.json
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/main.ts
Labels: frontend

#396 Sources Contacted Validation
  cccm-backend/cccm-api/src/main/resources/configs/crna_validation_config.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, :fish: :tropical_fish:

#398 Feature/762 new print view
  cccm-frontend/src/App.vue
  cccm-frontend/src/assets/css/print.css
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/PrintView.vue
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/FormioSidePanel.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/form/FormRenderer.vue
  cccm-frontend/src/components/form/formSections/FormSummary.vue
  cccm-frontend/src/main.ts
  cccm-frontend/src/router/index.ts
Labels: frontend

#402 Add OTEL For Enriched Logs
  cccm-backend/cccm-api/pom.xml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#403 Add intervention validation payload
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java

#404 Feature/763 format intervention validation payload
  cccm-frontend/src/components/form.api.ts
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend

#405 Field renamed
  cccm-frontend/src/components/form/FormRenderer.vue
Labels: frontend

#401 Adding Validation For Intervention Type
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/service/UpdateForm.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/validation/ValidationType.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/configs/crna_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/CloneClientFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/CreateACUTEFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/DeleteClientFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/DeleteInterventionsExceptUsingPUTTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetClientFormAnswersForSectionAndQuestionUsingGETTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetClientFormAnswersUsingGETTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetClientFormSummaryUsingGETTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/LinkFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/SaveClientFormAnswersUsingPUTTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/SearchClientCommentsUsingPOSTTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/SearchClientInterventionsUsingPOSTTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/SearchClientResponsivitiesUsingPOSTTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/UpcertResponsivitiesTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/EditFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateCRNATest.java
  cccm-backend/cccm-api/src/test/resources/configs/crna_validation_config.json
  cccm-backend/cccm-api/src/test/resources/configs/sara_validation_config.json
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/CSSSSOApiService.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java

#407 Removed Location, fixed the rating display issue
  cccm-frontend/src/components/PrintView.vue
  cccm-frontend/src/components/RNAList.vue
Labels: frontend

#408 Fix Null Keys
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#409 fixed dueDate sorting issue, add color to dueNext
  cccm-frontend/src/components/DashboardPOView.vue
Labels: frontend

#410 Intervention Clone Issue
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CloneFormTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#411 Removed warrants display
  cccm-frontend/src/components/ClientRecord.vue
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/common/templateClientProfilePO.json
Labels: frontend

#412 added golddr logins
  .github/workflows/backend-promote-image-to-env.yml
  .github/workflows/frontend-promote-image-to-env.yml
  .github/workflows/role-sync-promote-image-to-env.yml
Labels: Extreme DevOps
