Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2023-05, with the labels that each got.

#413 Feature/813 nav issue
  cccm-frontend/src/components/form/formSections/FormDataEntry.vue
  cccm-frontend/src/components/form/formSections/FormNavigation.vue
Labels: frontend

#417 Removed the dataRefreshSectionIndex for CRNA
  cccm-frontend/src/main.ts
Labels: frontend

#418 UCMP PO Dashboard
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/UserMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/PODashboard.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetPoDashboardTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#421 Feature/737 designation cnt
  cccm-frontend/src/components/DashboardPOView.vue
Labels: frontend

#422 Fixed the nav issue observed in edge
  cccm-frontend/src/components/form/formSections/FormNavigation.vue
Labels: frontend

#427 Update Validation
  cccm-backend/cccm-api/src/main/resources/configs/sara_validation_config.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#430 Create BC_PSSG_H_CMYK_pos.jpg
  cccm-frontend/src/assets/images/BC_PSSG_H_CMYK_pos.jpg
  cccm-frontend/src/components/DashboardPOView.vue
  cccm-frontend/src/components/PrintView.vue
  cccm-frontend/src/components/common/templateClientProfile.json
Labels: frontend

#428 Sort RNA List and Fix SCM and PCM Request
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/dashboard/DashboardsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientFormSearchTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#433 Fixed the issue where Reassessment comments not showing.
  cccm-frontend/src/components/PrintView.vue
Labels: frontend

#447 Add SEN(SENT) Column
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/UserMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/SupervisorDashboard.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/ClientFormSearchTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetSupervisorDashboardTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#485 Fixed the userGroup issue if user is in multiple groups
  cccm-frontend/src/stores/store.js
Labels: frontend

#505 Add Logging
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/RoleSyncServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#508 Downgrade vue-fontawesome to 2.0.8
  cccm-frontend/package-lock.json
  cccm-frontend/package.json
Labels: frontend

#509 Upgrade lib versions recommended by bot, except for formiojs lib
  cccm-frontend/package-lock.json
  cccm-frontend/package.json
Labels: frontend, formio

#512 Update Federated Identity Check
  cccm-backend/cccm-role-sync/src/main/java/ca/bc/gov/open/jag/service/RoleSyncServiceImpl.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, java, :fish: :tropical_fish:

#515 Revert the frontend-lib upgrades
  cccm-frontend/package-lock.json
  cccm-frontend/package.json
Labels: frontend

#522 Update Properties and Version 1.0.0
  cccm-backend/cccm-api/pom.xml
  cccm-backend/cccm-api/src/main/resources/application.properties
  cccm-backend/cccm-role-sync/pom.xml
  cccm-backend/pom.xml
  cccm-frontend/package.json
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, quarkus :vulcan_salute:, frontend, LARGE, javascript, java, :fish: :tropical_fish:, version
