Repository bcgov/jag-community-corrections-case-management, pull requests merged in 2024-03, with the labels that each got.

#810 Fix print formatting on comment fields
  cccm-frontend/src/components/PrintView.vue
  cccm-frontend/src/components/form/formSections/FormSummary.vue
Labels: frontend, javascript

#811 Adding CMRP create/complete/validation functionality
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/Keys.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/form/FormsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientFormSaveServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ValidationServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/main/resources/configs/cmrp_validation_config.json
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/ClientFormSearchUsingGETTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/CreateCmrpFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/form/GetClientFormSummaryUsingGETTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/client/GetClientFormSummaryTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CompleteFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/CreateFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/clientForm/EditFormTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/validation/ValidateCMRPTest.java
Labels: (⌐■_■)ノ＼(■_■ ), :cat: :cat2: :joy_cat: :smile_cat:, backend, :fish: :tropical_fish:

#812 Add search, additional client details and My Dahsboard
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/dashboard/DashboardsApiImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/ClientMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/mapper/UserMapper.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/CentreDashboard.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/model/data/ClientProfile.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ClientDataServiceImpl.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/ObridgeClientService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataService.java
  cccm-backend/cccm-api/src/main/java/ca/bc/gov/open/jag/api/service/UserDataServiceImpl.java
  cccm-backend/cccm-api/src/main/resources/cccm-api.yaml
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/dashboard/GetCentreDashboardTest.java
  cccm-backend/cccm-api/src/test/java/ca/bc/gov/open/jag/api/service/dataservice/user/GetCentreDashboardTest.java
  cccm-frontend/package-lock.json
Labels: (⌐■_■)ノ＼(■_■ ), backend, quarkus :vulcan_salute:, java, :fish: :tropical_fish:

#846 CMRP: Header and Client details side panel
  cccm-frontend/src/components/CmpForm.vue
  cccm-frontend/src/components/common/FormioSidePanel.vue
  cccm-frontend/src/components/common/templateFormInfo.json
  cccm-frontend/src/components/common/templateSidePanel.json
  cccm-frontend/src/main.ts
Labels: frontend, vue, formio, javascript

#852 RNA List updates and Community Order side panel
  cccm-frontend/src/assets/css/overrides.css
  cccm-frontend/src/components/RNAList.vue
  cccm-frontend/src/components/common/templateSidePanel.json
  cccm-frontend/src/main.ts
  cccm-frontend/src/stores/store.js
Labels: frontend, vue, formio, javascript
